.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.25;
    height: 100vh;
    background-color: #734F96;
    color: white;
}

.sidebar__top{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    border-bottom: 1px solid #513769;

}

.sidebar__channelsHeader{
    display: flex;
    justify-content: space-between;
}

.sidebar__header{
    display: flex;
    justify-content: space-between;
}